@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

* {
    font-family:roboto,arial,helvetica;
}
.small {
    font-size:11px;
}

h4 {
  font-size: 2em;
  text-align: center;
  padding: 10px 0 20px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
}

span.badge {
  margin-bottom: 10px;
}

ul li{
  list-style-type: none;
  margin-left: 0;
}
ul#main_channels li a{
  font-size:2rem;
}
h5{
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
button.remove{
  border-radius: 0;
  border:none;
  color:white;
  padding:5px;
  background:#D64123;
  float: right;
}
section:nth-child(2n){
  border-left:none;
  float: right;
}
section{
  border:1px solid black;
  height: 50vh;
  overflow-y: scroll;
}
section#three,section#four{
  border-top:none;
}
section img,section frame{
  max-width: 100%;
}
input.newlink{
  border:1px solid black;
}
p.hidden_paragraph{
display: none;
}

@media screen and (max-width: 768px) {
  section{
    height: auto;
  }

  }